:root {
    --primary-color: #b80257;
    --secondary-color: #783df0;

    --heading-font: "PT Sans", sans-serif;
    --paragraph-font: "Source Sans 3", sans-serif;

    --white: #fff;
    --gray-color: #333;
    --border-color: #eee;

    --transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--paragraph-font);
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 700;
    font-family: var(--heading-font);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

input,
select {
    border: none;
}

input:focus,
select:focus {
    outline: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.opacity {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.primary-hover-btn {
    color: var(--white);
    background: var(--primary-color);
    transition: var(--transition);
}

.primary-hover-btn:hover {
    background: var(--white);
    color: var(--primary-color);
}
