:root {
    --primary-color: #b80257;
    --secondary-color: #783df0;

    --heading-font: "PT Sans", sans-serif;
    --paragraph-font: "Source Sans 3", sans-serif;

    --white: #fff;
    --gray-color: #333;
    --border-color: #eee;

    --transition: all 0.3s ease-in-out;
}

/* Common CSS */

body {
    font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Navigation CSS */
.header {
    background: url(../img/img-banner.webp) no-repeat center;
    background-size: cover;
    height: 495px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--heading-font);
}

.header-wrapper a {
    color: var(--white);
}

.header-wrapper a:hover {
    color: var(--secondary-color);
}

.opacity {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.nav {
    padding: 40px 0 0;
    display: flex;
    align-items: center;
}

.nav-lists {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-lists a {
    padding: 10px 20px;

    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-act-btn {
    display: flex;
    gap: 10px;
}

.nav-btn {
    font-size: 2rem;
    color: var(--white);
}

.banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.banner h1 {
    font-size: 3rem;
    color: var(--white);
}

.breadcrumb {
    display: flex;
    font-size: 1.5rem;
    color: var(--white);
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 6px;
}

/* Main CSS */
.main {
    margin-top: 110px;
}

.main-wrapper {
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 270px;
}

.search-sidebar {
    padding: 8px 24px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-sidebar:focus-within {
    outline: 1px solid var(--secondary-color);
}

.search-sidebar input:focus ~ .search-sidebar-btn {
    color: var(--secondary-color);
}

.search-sidebar-btn {
    color: #ccc;
    transition: var(--transition);
}

.course-subject h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.course-subject ul {
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
}

.course-subject li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.course-subject a {
    display: block;
    line-height: 40px;
    font-size: 1.5rem;
    padding-left: 24px;
    color: var(--gray-color);
    transition: var(--transition);
}

.course-subject a:hover {
    transform: translateX(10px);
    color: var(--secondary-color);
}

.main-content {
    flex-grow: 1;
}

.course-fitter {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.course-fitter a {
    padding: 8px 16px;
    display: block;
    font-size: 1.5rem;
    color: var(--gray-color);
    border-radius: 16px;
    transition: var(--transition);
}

.course-fitter a.active,
.course-fitter a:hover {
    color: var(--white);
    background: var(--secondary-color);
}

.course-lists {
    --columns: 3;
    --spacing: 30px;

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    row-gap: var(--spacing);
    margin-bottom: 60px;
}

.course-item {
    width: calc(100% / var(--columns) - var(--spacing));
    margin-left: var(--spacing);
    display: flex;
    flex-direction: column;
}

.sale {
    position: relative;
    overflow: hidden;
}

.sale::before {
    content: "\e0b7";
    font-family: "Font Awesome 7 Free";
    display: flex;
    width: 10rem;
    height: 5rem;
    background: var(--primary-color);
    position: absolute;
    right: -40px;
    top: -15px;
    rotate: 45deg;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4px;
}

.course-thumb {
    width: 100%;
    display: block;
}

.course {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border: 1px solid var(--border-color);
}

.course-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--gray-color);
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-title a {
    color: var(--gray-color);
}

.course-title a:hover {
    color: var(--primary-color);
}

.course-desc {
    color: var(--gray-color);
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-info {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.course-info div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.course-info p,
.course-info i {
    font-size: 1.5rem;
    color: var(--gray-color);
}

.course-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.reg-btn {
    padding: 6px 15px;
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 15px;
    transition: var(--transition);
    margin-left: auto;
}

.reg-btn:hover {
    transform: translateY(-8px);
}

.buy-btn {
    background: var(--primary-color);
    font-weight: 700;
}

.free-btn {
    background: var(--secondary-color);
}

.course-pagination {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}

.course-pagination a {
    display: inline-block;
    color: var(--gray-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}

.course-pagination a.active,
.course-pagination a:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.course-pagination li:last-child a {
    min-width: 60px;
    padding: 0 8px;
}

.footer {
    background: #151515;
    padding: 80px 0 160px 0;
    color: var(--border-color);
}

.footer p {
    margin: 20px 0;
    font-size: 1.4rem;
    line-height: 1.4;
}

.footer h2 {
    margin: 8px 0 25px 0;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.footer-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-info,
.footer-subscribe {
    width: 270px;
}

.app {
    display: flex;
    gap: 20px;
}

.app a {
    flex-grow: 1;
}

.app img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-services {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.service {
    flex-grow: 1;
    flex-basis: 33.333%;
    flex-shrink: 0;
}

.service li {
    padding: 10px 0;
}

.service a {
    display: block;
    font-size: 1.6rem;
}

.service a:hover {
    color: var(--primary-color);
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-subscribe input {
    height: 36px;
    padding: 0 20px;
    border-radius: 20px;
    background: #272727;
    color: #fff9;
    margin-bottom: 12px;
    width: 100%;
}

.form-subscribe button {
    min-width: 90px;
    padding: 8px;
    background: var(--primary-color);
    border-radius: 25px;
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    transition: var(--transition);
}

.form-subscribe button:hover {
    color: var(--primary-color);
    background: var(--white);
}
